.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    gap: 10px;
  }
  
  header, footer {
    background-color: #75757595;
    padding: 20px;
    border: 2px solid rgb(100, 100, 100);
    border-radius: 15px;
    font-family: arial;
  }
  
  main {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-family: arial;
  }
  
  .main-content {
    flex: 2;
    background-color: #75757575;
    padding: 20px;
    border: 2px solid rgb(100, 100, 100);
    border-radius: 15px;
  }
  
  .sidebar {
    flex: 1;
    background-color: #75757575;
    padding: 20px;
    border: 2px solid rgb(100, 100, 100);
    border-radius: 15px;
  }